body {
  font-family: Lato,Arial,sans-serif;
  background-color: #000;
}
#main {
  padding: 5rem;
  margin: 5rem auto;
  max-width: 36%;
  background-color: #ccc;
  border-radius: 10px;
  min-width: 320px;
}
#title {
  font-weight: 100;
  text-transform: uppercase;
}
input {
  display: block;
}
input {
  margin-bottom: 0.5rem;
}
input[type="radio"] {
  display: inline;
}
fieldset {
  padding: 1em;
  width: 100%;
  font: 80%/1 sans-serif;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  label {
    float: left;
    width: 5rem;
    margin-right: 0.5em;
    padding-top: 0.2em;
    font-weight: bold;
  }
  label[for="dropdown"] {
    width: auto;
    display: block;
    float: none;
  }
  select {
    margin-top: 0.3rem;
    border-radius: 4px;
  }
  fieldset {
    margin-top: 1rem;
    width: auto;
    label {
      width: 5rem;
    }
  }
}
div.justified {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
label[for="more"] {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}
textarea {
  height: 15rem;
  width: 100%;
  border-radius: 8px;
}
button {
  display: block;
  width: 5rem;
  height: 2rem;
  margin: 0 auto;
}
